#img1{
	padding-left: 8vw;
	padding-bottom: 10px;
	padding-top: 10px;
}
.navbar-nav .active{
	padding-left: 20vw;
	font-size: 1.3vw;
	color: red !important;
}
.nav-link{
	font-size: 1.3vw;
	color: black;
}
.nav-link:hover{
	color: red;
	cursor: pointer;
}
@media screen and (max-width:1349px){
	.navbar-nav .active{
		padding-left: 17vw;
	}
}
@media screen and (max-width:1256px){
	.navbar-nav .active{
		padding-left: 16vw;
	}
}
@media screen and (max-width:1174px){
	.nav-link{
		font-size: 1.4vw;
	}
	.navbar-nav .active{
		padding-left: 15vw;
	}
}
@media screen and (max-width:1136px){
	.nav-link{
		font-size: 1.5vw;
	}
	.navbar-nav .active{
		padding-left: 14vw;
	}
}
@media screen and (max-width:1117px){
	.navbar-nav .active{
		padding-left: 12vw;
	}
}
@media screen and (max-width:1066px){
	.nav-link{
		font-size: 1.6vw;
	}
	.navbar-nav .active{
		padding-left: 7vw;
	}
}
@media screen and (max-width:1034px){
	.nav-link{
		font-size: 1.6vw;
	}
	.navbar-nav .active{
		padding-left: 7vw;
	}
}
@media screen and (max-width:997px){
	.navbar-nav .active{
		padding-left: 5vw;
	}
}

@media screen and (max-width:952px){
	#img1{
		padding-left: 6vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 3vw;
	}
}
@media screen and (max-width:924px){
	#img1{
		padding-left: 4vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 3vw;
	}
}

@media screen and (max-width:881px){
	#img1{
		padding-left: 3vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 3vw;
	}
}
@media screen and (max-width:860px){
	#img1{
		padding-left: 1vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 3vw;
	}
}

@media screen and (max-width:821px){
	#img1{
		padding-left: 1vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 2vw;
	}
}
@media screen and (max-width:804px){
	#img1{
		padding-left: 0.5vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 1vw;
	}
}
@media screen and (max-width:785px){
	#img1{
		padding-left: 0.5vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 1vw;
	}
}
@media screen and (max-width:780px){
	#img1{
		padding-left: 0.2vw;
	}
	.nav-link{
		font-size: 1.7vw;
	}
	.navbar-nav .active{
		padding-left: 0.4vw;
	}
}
@media screen and (max-width:767px){
	#img1{
		padding-left: 3vw;
	}
	.nav-link a{ 
	padding-left: 3vw !important}
	.nav-link{
		padding-left: 3vw !important;
		font-size: 2.4vw;
		background-color: red;
		color: white;
		border-top: 1px solid white;
	}
	.nav-link:hover{
		background-color: white;
		color: red;
	}


	.navbar-nav .active{
		padding-top: 2vw;
		padding-left: 0;
	}
	.active a{
		padding-left:3vw;
	}
}


#i1{
	color: white; 
	background-color: red; 
	padding: 8px 15px 8px 15px; 
	border-radius: 30%;
}
.form-row{
	margin: 0;
}
#col1 .row{
	margin-right: 0 !important;
	margin-left: 0 !important;
}
#col1 .col-sm-12{
	padding: 0;
}
#a1{
	padding-top: 14vw;
	font-size: 3.5vw;
	padding-bottom: 2vw;
}
#a2{
	font-size: 1.3vw;
	color: gray;
	font-weight: 200;
	padding-bottom: 2vw;
}
#a3{
	font-size: 1.3vw;
	font-weight: 400;
	line-height: 8px; 
	color: red;
}
#a3:hover{
	cursor: pointer;
}
form{
	background-color: black;
	padding-top: 50px;
	margin-top: 60px;
	text-align: center;
	padding-bottom: 35px;
	margin-bottom: 60px;
}
form h1{
	color: white;
	font-size: 2vw;
	padding-bottom: 2vw;
}
#inname{
	border-radius: 0;
	width: 90%;
    padding-left: 1.5vw;
    margin-left:  -6vw,
}
#inemail{
	border-radius: 0;
	width: 90%;
	padding-left: 1.5vw;
}
#inphone{
	border-radius: 0;
	width: 90%;
	padding-left: 1.5vw;
}
#intype{
	border-radius: 0;
	width: 90%;
	padding-left: 1.5vw;
}
.form-row .form-group{
	text-align: center;
	padding-left: 3vw;
	padding-bottom: 20px;
}
#btn{
	box-sizing: border-box;
	border-radius: 0;
	color: white;
	border: 1px solid red;
	width: 80%;
	background-color: red;
	font-size: 1.5vw;
}
#btn:hover{
	color: red;
	background-color: white;
}
@media screen and (max-width:1200px){
	.form-row .form-group{
	padding-left: 3.8vw;
}
@media screen and (max-width:800px){
	#a1{
		padding-top: 18vw;
	}
}

@media screen and (max-width:1037px){
	#a1{
		font-size: 3.7vw;
	}
	#a2{
        font-size: 1.5vw;
	}
	#a3{
       font-size: 1.5vw;
	}
	form h1{
       font-size: 2.2vw;
	}
	#btn{
		font-size: 1.7vw;
	}
}
@media screen and (max-width:820px){
	#a1{
		font-size: 3.9vw;
	}
	#a2{
        font-size: 1.7vw;
	}
	#a3{
       font-size: 1.7vw;
	}
	form h1{
       font-size: 2.4vw;
	}
	#btn{
		font-size: 1.9vw;
	}
	.form-row .form-group{
	padding-bottom: 15px;
   }
}
@media screen and (max-width:690px){
	#a1{
		font-size: 4.3vw;
	}
	#a2{
        font-size: 1.9vw;
	}
	#a3{
       font-size: 1.9vw;
	}
	form h1{
       font-size: 2.6vw;
	}
	#btn{
		font-size: 2.1vw;
	}
	.form-row .form-group{
	padding-bottom: 10px;
}
#a1{
		padding-top: 22vw;
	}
}
@media screen and (max-width:575px){
	#a1{
		padding-top: 4vw;
		font-size: 6vw; 
		padding-left: 8vw;
		padding-right: 8vw;
	}
	#a2{
		font-size: 2.8vw;
		padding-left: 8vw;
		padding-right: 8vw;
	}
	#a3{
		font-size: 2.8vw;
		padding-left: 8vw;
	}
	form h1{
		font-size: 4vw;
	}
    .form-row .form-group{
    	padding-left: 9.8vw;
    }
    #btn{
    	font-size: 4vw;
    }
  }
 }
#a5{
	font-size: 3vw;
	font-weight: 400;
	padding-top: 100px;
}
#a6{
	font-size: 1.4vw;
	font-weight: 200;
	color: gray;
	padding-bottom: 30px;
}
#img2:hover{

	transform: rotate(5deg) scale(1.4);
	transition: 0.6s;
	filter: grayscale(5);
}
#col2{
	overflow: hidden;
}
#img3:hover{

	transform: rotate(5deg) scale(1.4);
	transition: 0.6s;
	filter: grayscale(5);
}
#col3{
	overflow: hidden;
}
#img4:hover{

	transform: rotate(5deg) scale(1.4);
	transition: 0.6s;
	filter: grayscale(5);
}
#col4{
	overflow: hidden;
}
#a7{
	font-size: 2vw;
	font-weight: 500;
	padding-top: 20px;
}
#a8{
	font-size: 1.3vw;
	font-weight: 200;
	color: gray;
	padding-top: 15px;
}
#a9{
	color: red;
	font-size: 1.5vw;
	padding-top: 30px;
	padding-bottom: 40px;
	font-weight: 100;
}
@media screen and (max-width:990px){
	#a5{
		font-size: 3.2vw;
		padding-top: 80px;
	}
	#a6{
		font-size: 1.6vw;
	}
	#a7{
		font-size: 2.2vw;
	}
	#a8{
		font-size: 1.5vw;
	}
	#a9{
		font-size: 1.7vw;
	}
}
@media screen and (max-width:810px){
	#a5{
		font-size: 3.4vw;
		padding-top:60px;
	}
	#a6{
		font-size: 1.8vw;
	}
	#a7{
		font-size: 2.4vw;
	}
	#a8{
		font-size: 1.7vw;
	}
	#a9{
		font-size: 1.9vw;
	}
}
@media screen and (max-width:650px){
	#a5{
		font-size: 3.6vw;
		padding-top:60px;
	}
	#a6{
		font-size: 2vw;
	}
	#a7{
		font-size: 2.4vw;
	}
	#a8{
		font-size: 1.9vw;
	}
	#a9{
		font-size: 2.1vw;
	}
}
@media screen and (max-width:576px){
	#a5{
		font-size: 6vw;
		padding-top:60px;
		padding-bottom: 10px;
	}
	#a6{
		font-size: 3.3vw;
	}
	#a7{
		font-size: 4.3vw;
	}
	#a8{
		font-size: 2.5vw;
	}
	#a9{
		font-size: 2.7vw;
	}
	#img2{
		width: 100%;
	}
	#img3{
		width: 100%;
	}
	#img4{
		width: 100%;
	}
}
#con1{
	/*float: left;*/
    width: 100%;
    background-image: url(../images/content/counter_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#img5{
	color: white;
	background-color: red;
	font-size: 3vw;
	border-radius: 50%;
	padding: 15px 12px 15px 12px;
	margin-top: 90px;
}
#b1{
	font-size: 2.6vw; 
	color: white;
	font-weight: 400;
	padding-top: 10px;
}
#b2{
	font-size: 2.3vw;
	color: white;
	font-weight: 300;
	padding-bottom: 100px;
}
@media screen and (max-width:575px){
	#img5{
		font-size: 5vw;
		margin-top: 40px;
	}
	#b1{
		font-size: 3.8vw;
	}
	#b2{
		font-size: 4vw;
		padding-bottom: 30px;
	}
}
#f1{
	position: absolute;
	font-size: 5vw;
	margin-top: -29vw;
	color: white;
	margin-left: 52vw;
	animation-name: f1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	z-index: -1;
}
#j1{
	transform: scale(1.6);
	animation-name: j1;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}
@keyframes j1{
	0%{transform: scale(1.6);}
	100%{transform: scale(1);}
}
@keyframes f1{
	0%{z-index: -1; margin-left: 52vw}
	100%{z-index: 1;margin-left: 30vw}
}
#f2{
    font-size: 2vw; 
    position:absolute;
    margin-top: -10vw;
    color: white;
    margin-left: 40vw;
    animation-name: f2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
@keyframes f2{
	0%{z-index: -1; margin-top: -10vw;}
	100%{z-index: 1; margin-top: -20vw;}

}
#j2{
	font-size: 2.4vw;
	font-weight: 300;
	padding-top: 4vw;
}
#j3{
	font-size: 1.3vw;
	font-weight: 400;
	padding-top: 1vw;
	color: gray;
	padding-bottom: 2vw;
}
@media screen and (max-width:1000px){
	#j2{
		font-size: 2.6vw;
	}
	#j3{
		font-size: 1.5vw;
	}
}
@media screen and (max-width:850px){
	#j2{
		font-size: 2.8vw;
	}
	#j3{
		font-size: 1.7vw;
	}
}
@media screen and (max-width:650px){
	#j2{
		font-size: 3vw;
	}
	#j3{
		font-size: 1.9vw;
	}
}
@media screen and (max-width:575px){
	#j2{
		font-size: 3.5vw;
	}
	#j3{
		font-size: 2.4vw;
		padding-bottom:5vw;
	}
}
#e1 i{
	font-size: 1.1vw;
	color: red;
}
#e1 span{
	font-size: 1.1vw;
	color: black;
	padding-left: 1px;
}
#e1 span:hover{
	color: red !important;
	cursor: pointer;
}
#e2 i{
	font-size: 1.1vw;
	color: red;
	padding-left: 1vw;
}
#e2 span{
	font-size: 1.1vw;
	color: black;
	padding-left: 1px;
}
#e2 span:hover{
	color: red !important;
	cursor: pointer;
}
#e3 i{
	font-size: 1.1vw;
	color: red;
	padding-left: 1vw;
}
#e3 span{
	font-size: 1.1vw;
	color: black;
	padding-left: 1px;
}
#e3 span:hover{
	color: red !important;
	cursor: pointer;
}
#r1{
	padding-top:3vw;
}
#e4{
	font-size: 2vw;
	padding-top: 1vw;
	font-weight: 400;
}
#e5{
	font-size: 1.2vw;
	padding-top: 1,5vw;
	font-weight: 300;
}
#e6{
	font-size: 1.4vw;
	border-radius: 0;
	background-color: red;
	box-sizing: border-box;;
	border: 1px solid red;
	color: white;
	margin-top: 2vw;
}
#e6:hover{
	color: red;
	background-color: white;
}
#e7:hover{
	transform: rotate(5deg) scale(1.4);
	transition: 0.6s;
	filter: grayscale(5);
}
@media screen and (max-width:1200px){
	#r1{
		padding-top:0;
	}
    #e1 i{
    	font-size: 1.2vw;
    }
    #e1 span{
    	font-size: 1.2vw;
    }
    #e2 i{
    	font-size: 1.2vw;
    }
    #e2 span{
    	font-size: 1.2vw;
    }
    #e3 i{
    	font-size: 1.2vw;
    }
    #e3 span{
    	font-size: 1.2vw;
    }
    #e4{
    	font-size: 2.2vw;
    }
    #e5{
    	font-size: 1.4vw;
    }
    #e6{
    	font-size: 1.6vw;
    }
}
@media screen and (max-width:950px){
    #e1 i{
    	font-size: 1.3vw;
    }
    #e1 span{
    	font-size: 1.3vw;
    }
    #e2 i{
    	font-size: 1.3vw;
    }
    #e2 span{
    	font-size: 1.3vw;
    }
    #e3 i{
    	font-size: 1.3vw;
    }
    #e3 span{
    	font-size: 1.3vw;
    }
    #e4{
    	font-size: 2.4vw;
    }
    #e5{
    	font-size: 1.6vw;
    	padding-top: 1vw;
    }
    #e6{
    	font-size: 1.8vw;
    	margin-top: 1vw;
    }
}
@media screen and (max-width:750px){
    #e1 i{
    	font-size: 1.3vw;
    }
    #e1 span{
    	font-size: 1.3vw;
    }
    #e2 i{
    	font-size: 1.3vw;
    }
    #e2 span{
    	font-size: 1.3vw;
    }
    #e3 i{
    	font-size: 1.3vw;
    }
    #e3 span{
    	font-size: 1.3vw;
    }
    #e4{
    	font-size: 2.6vw;
    }
    #e5{
    	font-size: 1.6vw;
    	padding-top: 0.5vw;
    }
    #e6{
    	font-size: 2vw;
    	margin-top: 0.5vw;
    }
}
@media screen and (max-width:750px){
    #e1 i{
    	font-size: 1.3vw;
    }
    #e1 span{
    	font-size: 1.3vw;
    }
    #e2 i{
    	font-size: 1.3vw;
    }
    #e2 span{
    	font-size: 1.3vw;
    }
    #e3 i{
    	font-size: 1.3vw;
    }
    #e3 span{
    	font-size: 1.3vw;
    }
    #e4{
    	font-size: 2.6vw;
    }
    #e5{
    	font-size: 1.6vw;
    	padding-top: 0.5vw;
    }
    #e6{
    	font-size: 2vw;
    	margin-top: 0.5vw;
    }
}
@media screen and (max-width:622px){
	#e2 i{
		padding-left: 0.5vw;
	}
	#e3 i{
		padding-left: 0.5vw;
	}
}
@media screen and (max-width:575px){
    #e1 i{
    	font-size: 1.9vw;
    }
    #e1 span{
    	font-size: 1.9vw;
    }
    #e2 i{
    	font-size: 1.9vw;
    	padding-left: 3vw;
    }
    #e2 span{
    	font-size: 1.9vw;
    }
    #e3 i{
    	font-size: 1.9vw;
    	padding-left: 3vw;
    }
    #e3 span{
    	font-size: 1.9vw;
    }
    #e4{
    	font-size: 4.7vw;
    	padding-top: 3vw;
    }
    #e5{
    	font-size: 3.3vw;
    	padding-top: 0.5vw;
    }
    #e6{
    	font-size: 3.8vw;
    	margin-top: 2vw;
    	margin-bottom: 2vw;}
    
}